
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
      http://xmlns.jcp.org/xml/ns/javaee
      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd" bean-discovery-mode="all">
      
      <!-- 1. DELETE THIS LINE TO SWITCH FROM DATABASE TO LOCAL STORAGE
      <alternatives>
        <class>com.soloproject.persistence.repository.IngredientMapRepository</class>
    </alternatives> 
    1. AND THIS LINE -->
    
    
    <!-- 2. DELETE THIS LINE TO SWITCH FROM DATABASE TO LOCAL STORAGE
    <alternatives>
        <class>com.soloproject.persistence.repository.RecipeMapRepository</class>
    </alternatives> 
    2. AND THIS LINE -->
    
</beans>
